#menu_row div {
    transition: transform .1s ease-in-out;
}

#menu_row button {
    transition: transform .1s ease-in-out;
}

#menu_row div:hover {
    border-color: red;
    border-style: solid;
    border-width: thin;
    transform: scale(0.9);
}

#menu_row button:hover {
    border-color: red;
    border-style: solid;
    border-width: thin;
    transform: scale(0.9);
}